APP_API_KEY="AIzaSyDgQfTQpJJb59MlMb5tSvi4DznW7O9MWxUE"
APP_AUTH_DOMAIN="almost-42fcc.firebaseapp.com"
APP_DATABASE_URL="https://almost-42fcc-default-rtdb.firebaseio.com"
APP_PROJECT_ID="almost-42fcc"
APP_STORAGE_BUCKET="almost-42fcc.appspot.com"
APP_APP_ID="1:628690566062:web:fdd455cede5f8d80cda63f"
APP_MEASUREMENT_ID="G-X3PTWR7K85"
